version: "3.9"
services:
  db:
    image: postgres:13.3-alpine
    env_file:
      - .env
    volumes:
      - ./config/postgresql.conf:/etc/postgresql.conf
    ports:
      - "5432:5432"
    command: postgres -c config_file=/etc/postgresql.conf

  backend:
    build: .
    env_file:
      - .env
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

  python_test:
    build: .
    profiles:
      - python_test
    env_file:
      - .env
    volumes:
      - .:/code
    restart: always
    command:
    - pytest
